.vc-schedule
  padding: 20px 30px
  display: flex
  flex-direction: column
  gap: 20px
  background-color: var(--vc-white)
  border-radius: 20px
  &__list
    display: grid
    grid-template-columns: repeat(7, 1fr)
    grid-gap: 10px
  &__header
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    color: var(--vc-black)
    font-size: 22px
    font-style: normal
    font-weight: 500
    line-height: 1.2
  &__week
    display: flex
    gap: 10px
    flex-wrap: nowrap
    width: 100%
  &__week-item
    color: #575756
    font-size: 12px
    width: 100px
    font-style: normal
    font-weight: 400
    line-height: 1.2
  &__item
    display: flex
    width: 100px
    height: 100px
    padding: 10px 6px
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    align-self: stretch
    border-radius: 12px
    border: 1px solid #D4DDE3
  &__item--selected
    border: 2px solid #0C88CA
  &__item--weekend
    background: #F6F8F9
  &__item--sick
    background: #EEDADC
  &__item-events
    display: flex
    flex-wrap: wrap
    width: 100%
    gap: 4px
  &__item-event
    display: flex
    justify-content: center
    align-items: center
    border-radius: 5px
    height: 20px
    padding: 0 8px
    color: #222
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 1.2
  &__item-event[data-name="rg"]
    background: rgba(12, 136, 202, 0.30)
  &__item-event[data-name="mrt"]
    background: rgba(83, 110, 179, 0.30)
  &__item-event[data-name="ct"]
    background: rgba(247, 165, 8, 0.30)
  &__day
    width: 100%
    text-align: right
  &__info
    width: 100%
    border-radius: 5px
    color: #222
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: 1.2
    display: flex
    align-items: center
    justify-content: center
    text-transform: uppercase
    height: 20px
    background: rgba(87, 87, 86, 0.10)
  &__info--sick
    background-color: var(--vc-primary)
    color: var(--vc-white)